extend _base/base

block define
  -
    var pId = "top"
    var root = "."
  -

block main
  main#mainTop.main.main-top
    section#billboardTop.section.billboard.billboard-top
      .copy
        | ミストサプリという新提案
        br
        | VITABON

      .product
        .copy 7種類の選べるオーガニックフレーバー
        ul#menuFullpage
          for i in ITEMS
            li
              a.link-inner(href="#"+i.code data-menuanchor=i.code)
                img(src=root+PATH.image+"/item_"+i.code+".png" alt=i.name)
                span.color-name= i.code
                span.name= i.name
      .font-zero
        img(src=PATH.image+"/logo_zero.png" alt="タール ニコチン 受動喫煙 zero")

      a.link-inner.link-down(href="#green")

    for i, index in ITEMS
      section.section.section-item(id="section_"+i.code class="item-"+i.code)
        if index == 0
          a.link-inner.link-up(href="#top" data-link='top')
        else
          a.link-inner.link-up(href="#"+ITEMS[index-1].code data-link=ITEMS[index-1].code)

        header.header-section-item
          h2
            span.color-name= i.code
            small.name= i.name
        p.copy!= i.copy
        figure.item-photo
          img(src=root+PATH.image+"/item_"+i.code+".png" alt=i.name)
        .ingredients
          h3 主成分
          dl.items-ingredients
            dt Vitamin A
            dd= i.ingredients.va + "IU"
            dt Vitamin B1
            dd= i.ingredients.vb1 + "mcg"
            dt Vitamin C
            dd= i.ingredients.vc + "mcg"
            dt Vitamin E
            dd= i.ingredients.ve + "mcg"
            dt CoQ10
            dd= i.ingredients.c10 + "mcg"
            dt= i.ingredients.etc.name
            dd= i.ingredients.etc.volume

        if index == 6
          a.link-inner.link-down(href="#sns" data-link='sns')
        else
          a.link-inner.link-down(href="#"+ITEMS[index+1].code data-link=ITEMS[index+1].code)

    //- section#section_etc.section.section-etc
    section#section_sns.section.section-part.section-sns
      .container-twitter-timeline
        h3
          | VITABON公式 Twitter
          small (@VITABON_JP)
        .block-twitter-timeline
          a.twitter-timeline(data-lang="ja" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/VITABON_JP") Tweets by VITABON_JP
          script(async src="//platform.twitter.com/widgets.js" charset="utf-8")

      .container-facebook-timeline
        h3
          | VITABON公式 Facebook
          small (@vitabon.official)
        .block-facebook-timeline
          .fb-page(data-href="https://www.facebook.com/vitabon.official" data-tabs="timeline" data-small-header="true" data-width="500" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
            blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/vitabon.official")
              a(href="https://www.facebook.com/vitabon.official")

    section#section_caution.section.section-part.section-caution
      h3 類似品にご注意下さい！
      p.text
        |VITABONは、厳しい検査を受け、身体に悪い成分が無いと認可を受けた安全な商品です。ビタミンA・B・C・EとコエンザイムQ10、そして最上級の天然成分が蒸気となることで芳醇な香りをお楽しみいただけます。１本で約500回の吸い込みが可能で充電も不要。周りを気にすることなく、気軽にいつでもどこでもお楽しみいただけるまったく新しいタイプの嗜好品です。
        br
        | 近年、店頭並びにインターネットにおいて、VITABONの類似品、VITA●●など似通った名称のもの、また許可なく公式販売を表示するケースが見受けられます。
        br
        | ご購入の際には、VITABON（ビタボン）の正式名称が表記されている商品をお買い求めいただき、類似品にはくれぐれもご注意ください。

      .contact
        h4 VITABON カスタマーセンター
        .tel
          | TEL：03-4577-8644
          small 受付時間 10:00～20:00（年中無休）

    section#section_about.section.section-part.section-about
      h3
        | 会社案内
        small About Us
      -
        var info = [
          {
            index: "会社名",
            content: "株式会社VITA　　VITA.INC"
          },
          {
            index: "代表取締役",
            content: "河村　道男"
          },
          {
            index: "所在地",
            content: "〒108-0073  東京都港区三田4丁目 12－14 ​CHANEX B-01"
          },
          {
            index: "設立",
            content: "平成13年9月4日"
          },
          {
            index: "事業内容",
            content: "ビタボンの企画・開発・販売"
          },
          {
            index: "電話番号",
            content: "03-4577-8644（カスタマーセンター）"
          },
          {
            index: "​メール",
            content: "<a  href='mailto:info@vitabon.co.jp'>info@vitabon.co.jp</a>（カスタマーセンター）"
          }
        ]
      -

      ul
        for i in info
          li
            .index= i.index
            .content!= i.content

      nav.return-top
        a#buttonReturnTop.link-inner(href="#top" data-menuanchor='top')
          img(src=root+PATH.image+"/button_return-top.png" alt="TOP")

      include _base/footer

  ul#pagination.pagination
    for i in ITEMS
      li(data-menuanchor=i.code class="link-"+i.code)
        a(href="#"+i.code)
          img(src=root+PATH.image+"/item_"+i.code+".png" alt=i.name)
          span.color-name= i.code
          span.name= i.name

block footer
