include mixin
include var

block define

doctype html
html(lang='ja')
  head(prefix='og:http://ogp.me/ns#')
    block head
      include head

  body
    block body
      if pId == 'top'
        +fb()

      block header
        include header

      block main

      block footer
        include footer

    if pId != 'top'
      nav.return-top
        a#buttonReturnTop.link-inner(href="#" data-link='top')
          img(src=root+PATH.image+"/button_return-top.png" alt="TOP")

    block script
      script(src=root+PATH.lib+'/jquery/jquery.min.js')
      script(src=root+PATH.js+"/main.js")

      if pId == 'top'
        script(src=root+PATH.lib+'/jquery.fullpage/scrolloverflow.min.js')
        script(src=root+PATH.lib+'/jquery.fullpage/jquery.fullpage.min.js')
        script(src=root+PATH.js+"/top.js")
      else
        script(src=root+PATH.js+"/page.js")
